/* a{
    color:gray !important;
} */
p,
a {
  color: gray;
  font-family: Arial;
}
.footercolor {
  color: gray;
  text-decoration-color: #33c7bf;
}

a:hover,
i:hover {
  color: #33c7bf;
  text-decoration: none;
}
