label,
p,
h1,
h2,
h3,
h4 {
  font-family: Arial;
  color: white;
}

/* div.container-fluid {
  padding: 0;
  background-image: url("../media/background.jpg");
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  top: 0 !important;
  left: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.bg1 {
  background-image: url("../media/background.jpg");
  background-position: "center";
  background-size: cover;
  color: white;
  min-height: 100vh;
  align-items: center;
}
label.btn.btn-secondary.active {
  background-color: #33c7bf !important;
}

label.btn.btn-secondary {
  border: none;
  /* background-color: #005454 !important; */
}
.rates {
  width: 60%;
  height: 6vh;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  font-family: arial;
  font-size: 14px;
  margin: 0%;
  padding: 0%;
  padding-left: 5%;
  border: none;
}
.flag-select__btn {
  color: white !important;
  font-size: 22.06;
  font-weight: bold;
  border: none;
  height: 6vh;
  align-items: center;
}
.flag-select__btn:before {
  align-items: center;
}
.flag-select {
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  height: 6vh;
  background-color: #005454 !important;
  /* color: white !important; */
  font-size: 22.06;
  font-weight: bold;
  border: none;
  align-items: center;
}
ol {
  padding: 0%;
}

.cards {
  background-color: transparent;
  border: 0px solid transparent !important;
}
