h1 .body {
  font-family: "Arial Rounded MT Bold", Arial;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.regInput:valid {
  color: "#33c7bf";
}
.regInput:invalid {
  color: #ed2b45;
}
.hawa {
  color: gray !important;
}
.sr-only {
  color: #33c7bf;
  background-color: #33c7bf;
}
/*
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 100%;
  gap: 0px 0px;
  grid-template-areas:
    "nav-bar nav-bar"
    "submit table";
  /* background: url("./media/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
/* } */

/* .nav-bar {
  grid-area: nav-bar;
}

.submit {
  grid-area: submit;
} */

/* .row{
  margin-top: 6% !important ;
} */

.table {
  grid-area: table;
}

/* .home-bg {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-image: url("https://cedaroxygen.com/wp-content/uploads/2020/07/Cedar-Oxygen_Cedar-scaled.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
/* background-color: #005454; */
/* }
.home-bg3 {
  /* min-height: 100%;
  min-width: 100%;
  width: 100%; */
/* height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("https://cedaroxygen.com/wp-content/uploads/2020/07/Cedar-Oxygen_Cedar-scaled.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #005454; */
/* } */

/* .home-bg2 {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; */

/* background-color: #005454; */
/* } */
.authBox {
  padding: 0;
  background-image: url("./media/background.jpg");
  background-size: cover;
  background-color: #282c34;
  min-height: 100vh;
  margin: "0%";
  align-items: center;
  /* justify-content: center; */
  /* margin-bottom: "1000%"; */
}

/* .leftBox {
  width: 300px;
  height: 480px;
  float: left;
  position: relative;
  display: block;
}
.bgGreen {
  width: 100%;
  height: 100%;
  background-color: gray;
  border-top-left-radius: 90px;
} */

.imageAuth {
  background-image: url("https://cedaroxygen.com/wp-content/uploads/2020/05/Cedar-Oxygen_Logo-favicon.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 90px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.imageText {
  font-size: 28px;
  position: absolute;
  color: #ffffff;
}

.imageText.bold {
  font-weight: bold;
}
.imageText.style1 {
  top: 200px;
  left: 20px;
}
.imageText.style2 {
  top: 250px;
  left: 20px;
}

.rightBox {
  width: 50%;
  height: 20%;
  align-items: center;
  border: 1px solid gray;
  background-color: rgb(241, 233, 233);
  margin: "0%";
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  /* margin-bottom: "40%"; */
}
.emailInputlogin {
  margin-top: 2.9rem;
}
.rightBox2 {
  width: 398px;
  height: 330px;
  float: center;
  border: 1px solid gray;
  background-color: rgb(241, 233, 233);
  margin: auto;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.rightBox3 {
  width: 55%;
  height: 60%;
  float: center;
  border: 1px solid gray;
  background-color: rgb(241, 233, 233);
  margin: auto;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.box {
  width: 310px;
  height: 100%;
  margin: 32px auto;
}

.titleAuth {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  color: #116149;
}

.inputSBOX {
  width: 300px;
  height: 42px;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 10px;
}

.inputS {
  width: 100%;
  height: 98%;
  font-size: 14px;
  color: #37353f;
  text-indent: 10px;
  border: 0;
  outline: none;
}

.contentBox {
  overflow: hidden;
  height: 38px;
  margin-bottom: 30px;
}

.checkboxBox {
  overflow: hidden;
  float: left;
}
.checkbox {
  float: left;
}
.checkboxLabel {
  float: left;
  font-size: 14px;
  margin-left: 5px;
  color: #37353f;
}
.text1 {
  float: right;
  font-size: 14px;
  color: #33c7bf;
  cursor: pointer;
}

.btnAuth {
  width: 300px;
  height: 47px;
  color: #ffffff;
  background-color: #005454;
  text-align: center;
  line-height: 47px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 6%;
  font-weight: bold;
}

.borderBox {
  width: px;
  height: 20px;
  position: relative;
  margin-top: 6px;
  margin-bottom: 7px;
  /* margin: 20px 0; */
}

.line {
  border-bottom: 2px solid #d8d8d8;
  position: absolute;
  top: 22px;
  width: 100%;
}

.text2 {
  font-size: 14px;
  color: #818487;
}

.text2.or {
  position: absolute;
  top: 14px;
  left: 140px;
  width: 25px;
  height: 16px;
  background-color: #ffffff;
  text-align: center;
}

.socialMediaBox {
  overflow: hidden;
  width: 184px;
  height: 43px;
  /* margin-top: 10px ; */
  margin-left: 105px;

  /* margin-right: 20px;
  margin-bottom: 100px; */
}

.icAuth {
  width: 50px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-right: 30px;
  cursor: pointer;
}
/* .icAuth:last-child{
  margin-right: 0;
} */
/* .icAuth.google {

  background-image: url("https://img.icons8.com/bubbles/2x/google-logo.png");

} */
.toggler {
  display: flex;
  /* margin-left: 50px; */
  margin-bottom: 15px;
  border: 1px solid gray;
}
.tlogin {
  margin: auto;
  /* cursor: pointer; */
}
.tlogin > button {
  border: none;
  background: none;
  cursor: pointer;
}
.tregister {
  margin: auto;
  /* cursor: pointer; */
}
.tregister > button {
  border: none;
  background: none;

  cursor: pointer;
}

.errorMsg {
  color: red !important;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .authBox {
    width: 100%;
  }
  .leftBox {
    display: none;
  }
  .rightBox {
    width: 100%;
    float: initial;
    border: 0;
  }
}
